# Section II. List, Ranges, Tuples and Dictionaries

## Lists

In [3]:
integer_list = [1, 2, 3]

heterogeneous_list = ['string', 0.1, True]

list_of_lists = [ integer_list, heterogeneous_list, [] ]

list_length = len(integer_list) # equals 3

list_sum = sum(integer_list) # equals 6

Get the *i-th* element of a list

In [14]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # is the list [0, 1, ..., 9]

zero = x[0] # equals 0, lists are 0-indexed

one = x[1] # equals 1

nine = x[-1] # equals 9, 'Pythonic' for last element

eight = x[-2] # equals 8, 'Pythonic' for next-to-last element

Get a slice of a list

In [23]:
one_to_four = x[1:5] # [1, 2, 3, 4]

first_three = x[:3] # [0, 1, 2]

last_three = x[-3:] # [7, 8, 9]

three_to_end = x[3:] # [3, 4, ..., 9]

without_first_and_last = x[1:-1] # [1, 2, ..., 8]

copy_of_x = x[:] # [0, 1, 2, ..., 9]

another_copy_of_x = x[:3] + x[3:] # [0, 1, 2, ..., 9]

all_odd_numbers = x[1::2]

Modify content of list

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8] 

x[2] = x[2] * 2     # x is [0, 1, 4, 3, 4, 5, 6, 7, 8] 

x[-1] = 0           # x is [0, 1, 4, 3, 4, 5, 6, 7, 0]

x[3:5] = x[3:5] * 3 # x is [0, 1, 4, 9, 12, 5, 6, 7, 0]

x[5:6] = []         # x is [0, 1, 4, 9, 12, 7, 0]

del x[:2]           # x is [4, 9, 12, 7, 0] 

del x[:]            # x is [] 

del x               # referencing to x hereafter is a NameError

**Strings** can also be sliced. But they cannot modified (they are *immutable*)

In [29]:
s = 'abcdefg'
a = s[0]         # 'a'
x = s[:2]        # 'ab'
y = s[-3:]       # 'efg'
s = 'AB' + s[2:] # str is now ABcdefg

In [ ]:
s[:2] = 'AB'     # this will cause an error

You can use the *range()* function to generate a list containing sequence of numbers

In [31]:
r = range(5)         # [0, 1, 2, 3, 4]

r = range(2, 5)      # [2, 3, 4]

r = range(0, 10, 2)  # [0, 2, 4, 6, 8]

r = range(10, 2, -2)  # [10, 8, 6, 4]

### Exercise 2.1

Create a list called *numbers* containing the values from 1 through 15, then use the *slices* to perform the following operations consecutively:

    a. Select *number*'s even integers
    b. Replace the elements at indices 5 through 9 with 0s, then show the resulting list.
    c. Keep only the first five elements, then show the resulting list.
    d. Delete all the remaining elements by assigning to a slice. Show the resulting list.

In [20]:
# Answer here

Check for memberships

In [ ]:
1 in [1, 2, 3] # True
0 in [1, 2, 3] # False

Concatenate lists

In [22]:
x = [1, 2, 3]
y = [4, 5, 6]
x.extend(y) # x is now [1,2,3,4,5,6]

x = [1, 2, 3]
y = [4, 5, 6]
z = x + y  # z is [1,2,3,4,5,6]; x is unchanged.

List unpacking (multiple assignment)

In [24]:
x, y = [1, 2] # x is 1 and y is 2

[x, y] = 1, 2 # same as above

x, y = [1, 2] # same as above

x, y = 1, 2   # same as above

_, y = [1, 2] # y is 2, didn't care about the first element

### Exercise 2.2 (Asssignment)

Create a list called *rainbow* containing 'green', 'orange' and 'violet'. Perform the following operations consecutively using list methods and show the list's content after each operation:

    a. Determine the index of 'violet' then use it to insert 'red' before 'violet'. 
       Hint: use rainbow.insert() and rainbow.index() methods
       
    b. Append 'yellow' to the end of the list. Hint: use rainbow.append() method.
    
    c. Reverse the list's elements. Hint: use rainbow.reverse()
    
    d. Remove the element 'orange'. Hint: use rainbow.remove()

## Tuples

Similar to lists, but are immutable

In [33]:
a_tuple = (0, 1, 2, 3, 4)

other_tuple = 3, 4

another_tuple = tuple([0, 1, 2, 3, 4])

hetergeneous_tuple = ('john', 1.1, [1, 2])

Can be sliced, concatenated, or repeated

In [ ]:
a_tuple[2:4]    # will print (2, 3)

Cannot be modified

In [ ]:
a_tuple[2] = 5 # Will generate error

## Exercise 2.3

Create a single-element tuple containing 123.45, then display it.

In [38]:
# Answer here

## Dictionaries

A dictionary associates values with unique keys

In [45]:
empty_dict = {}                         # Pythonic
empty_dict2 = dict()                    # less Pythonic 

grades = { # dictionary literal 
    'Joel' : 80, 
    'Tim' : 95 
}

Access/modify value with key

In [42]:
joels_grade = grades['Joel']          # equals 80 

grades['Tim'] = 99                    # replaces the old value 

grades['Kate'] = 100                  # adds a third entry 

num_students = len(grades)            # equals 3

Check for existense of key

In [50]:
joel_has_grade = "Joel" in grades     # True 
kate_has_grade = "Kate" in grades     # False

Use “get” to avoid keyError and add default value

In [ ]:
joels_grade = grades.get("Joel", 0)   # equals 80 
kates_grade = grades.get("Kate", 0)   # equals 0 
no_ones_grade = grades.get("No One")  # default default is None

Get all items

In [51]:
all_keys = grades.keys()     # return a list of all keys
all_values = grades.values() # return a list of all values
all_pairs = grades.items()   # a list of (key, value) tuples

### Exercise 2.3

For the following dictionary, create lists of its keys, values and items and show the contents of those lists.

    roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [52]:
# Answer here