# Section IV. Functions

Functions are defined using *def*

In [2]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    
    return x * 2

You can call a function after it is defined

In [3]:
z = double(10) # z is 20

You can give default values to parameters

In [ ]:
def my_print(message='my default message'):
    print (message)

my_print('hello') # prints 'hello'
my_print()        # prints 'my default message

Sometimes it is useful to specify arguments by name

In [ ]:
def subtract(a=0, b=0):
    return a - b

subtract(10, 5)        # returns 5
subtract(0, 5)         # returns -5
subtract(b = 5)        # same as above
subtract(b = 5, a = 0) # same as above

### Exercise 4.1

Define a function *square_root* that receives a number as a parameter and returns the quare root of that number. Determine the quare root of 6.25.

In [ ]:
# Answer here

## Lambdas and List Comprehensions

Functions are objects too

In [ ]:
def double(x): 
    return x * 2

dd = double

In [ ]:
def apply_to_one(f):
    return f(1)

apply_to_one(dd)

Small anonymous functions can be created with the *lambda* keyword

In [ ]:
def small_func(x): # Equivalent to "lambda x: x + 4"
    return x + 4

apply_to_one(small_func)

In [ ]:
apply_to_one(lambda x: x + 4)

## Sorting List

*sorted()* keeps the original list intact and returns a new sorted list

In [14]:
x = [4, 1, 3, 2]
y = sorted(x)    # y is [1,2,3,4], x is unchanged

*list.sort()* sort the original list

In [15]:
x.sort()          # now x is [1,2,3,4]

You can change the default behavior of sorted using lambdas

In [16]:
# sort the list by absolute value from largest to smallest 
x = [-4, 1, -2, 3]
y = sorted(x, key=abs, reverse=True)  # is [-4,3,-2,1]

In [ ]:
grades = { # dictionary literal 
    'Jane' : 90, 
    'Nathan' : 95,
    'Kyle': 92
}

# sort the grades from highest count to lowest 
# using an anonymous function
newgrades = sorted(grades.items(), key=lambda item: item[1], reverse=True)

## List Comprehension

A very convenient way to create a new list

In [25]:
squares = [x * x for x in range(5)]

In [28]:
# Above code is the same as...
squares = []
for x in range(5): 
    squares.append(x * x)

Can also be used to filter list

In [29]:
even_numbers = [x for x in range(5) if x % 2 == 0]

In [ ]:
# Above code is the same as...
even_numbers = []
for x in range(5):
    if x % 2 == 0:
        even_numbers.append(x)

### Exercise 4.1

Use a list comprehension to create a list of tuples containing the numbers 1 to 5 and their cubes -- that is, `[(1, 1), (2, 8), (3, 27), ...]`. Hint: To create tuples, palce parentheses around the expression to the left of the list comprehension's *for* clause.

In [31]:
# Answer here

More complex examples

In [32]:
# create 100 pairs (0,0) (0,1) ... (9,8), (9,9) 
pairs = [(x, y) 
         for x in range(10) 
         for y in range(10)]

In [35]:
# only pairs with x < y,   
# range(lo, hi) equals 
# [lo, lo + 1, ..., hi - 1] 
increasing_pairs = [(x, y)
                    for x in range(10)
                    for y in range(x + 1, 10)]

## map(), reduce(), filter()

Convenient tools in python to apply function to sequences of data.

In [ ]:
# map() applies a function to a list

a = range(5)
list(map(lambda x: 2 * x), a)

In [ ]:
# filter() returns all values satisfying a condition 

a = range(5)
list(filter(lambda x: x % 2 == 0, a))

In [ ]:
# reduce() combines all values using a function to generate a single result

a = range(10)
reduce(lambda x, y: x + y, a)

### Exercise 4.2 (Assignment)

Map a list of the three Farenheit temparatures 41, 32, 212 to a list of tuples containing the Fahrenheit temparatures and their Celsius equivalents. Convert Ferenheit temperatures to Celcius tiwht the following forumla:

    Celcsius = (Farenheit - 32) * (5/9)

In [ ]:
# Answer here

## zip()

Useful function to combine multiple lists into a list of tuples

In [ ]:
list(zip(['a', 'b', 'c'], [1, 2, 3], ['A', 'B', 'C']))

In [ ]:
names = ['Nathan’, Jane’, Kyle']
grades = [100, 90, 95]
list(zip(names, grades))